.Wrapper {
  width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-areas:
    'h h'
    'n c';
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}

.Header {
  grid-area: h;
  background-color: rgb(1, 7, 0);
}

.Navigation {
  grid-area: n;
  background-color: silver;
}

.Wrapper_content {
  grid-area: c;
  background-color: rgb(255, 255, 255);
}

table {
  margin-top: 50px;
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', Sans-Serif;
  font-size: 14px;

  border-collapse: collapse;
  text-align: left;
}
th {
  font-weight: normal;
  color: #039;
  padding: 10px 8px;
}
td {
  color: #669;
  padding: 9px 8px;
  transition: 0.3s linear;
}
tr:hover td {
  color: #ff0000;
}

td {
  color: #669;
  padding: 9px 8px;
  transition: 0.3s linear;
}

.clear50px {
  height: 50px;
  width: 100%;
}

.flex {
  display: flex;
  justify-content: space-between;
}
